.bicycles {
  padding: 120px 50px;
  background-color: #f6f7f9;
}

.bicycles__header {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.bicycles__item {
  display: flex;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 21px;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow: hidden;
  }

  &--one {
    @include bicycles;

    &::before {
      @include pseudo;
      top: 141px;
      left: -53px;
      width: 135px;
      height: 135px;
      background: url("/img/figure1.png") center center/cover no-repeat;
    }
  }

  &--two {
    @include bicycles;

    &::before {
      @include pseudo;
      top: 25px;
      left: -14px;
      width: 37px;
      height: 37px;
      background: url("/img/figure2.png") center center/cover no-repeat;
      z-index: 1;
    }

    &::after {
      @include pseudo;
      bottom: 10px;
      right: -17px;
      width: 37px;
      height: 37px;
      background: url("/img/figure3.png") center center/cover no-repeat;
      z-index: 1;
    }
  }

  &--three {
    @include bicycles;

    &::after {
      @include pseudo;
      top: -29px;
      right: -29px;
      width: 80px;
      height: 80px;
      background: url("/img/figure4.png") center center/cover no-repeat;
      z-index: 1;
    }
  }
}

.bicycles__img {
  position: relative;

  &--two {
    top: 36px;
  }
}

.bicycles__subheader {
  padding-top: 19px;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  text-align: center;

  &--two {
    position: relative;
    top: 23px;
  }
}
