.facts {
  padding: 130px 70px;
  text-align: center;
}

.facts__header {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 19px;
}

.facts__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 36px;
  font-size: 20px;
  line-height: 30px;
}

.facts__item {
  padding: 0 20px;
  max-width: 310px;
}

.facts__number {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: $main_color;
}

.facts__descr {
  padding-top: 14px;
  font-size: 18px;
}
