.facts {
  padding: 126px 70px;
  padding-bottom: 122px;
  text-align: center;
}

.facts__header {
  padding-left: 25px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.facts__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 25px;
  font-size: 20px;
  line-height: 30px;
}

.facts__item {
  padding: 0 20px 30px;
  max-width: 261px;
}

.facts__number {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: $main_color;
}

.facts__descr {
  padding-top: 14px;
  font-size: 22px;
  line-height: 34px;
}
