.form__info {
  max-width: 262px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.form__main {
  display: flex;
  flex-direction: column;
  margin-top: 13px;

  input {
    height: 42px;
    width: 210px;
    border: 1px solid #c9ccd4;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 0 30px;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c;

    &:hover {
      background-color: #e7ebd3;
    }

    &:focus {
      box-shadow: 0 0 0 3px #55752d;
    }
  }
  .error {
    font-size: 13px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
}

.form__btn {
  height: 51px;
  background: $main_color;
  border: 1px solid $main_color;
  border-radius: 6px;
  font-family: "Overpass", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #000000;

  &:hover {
    background-color: #0cf5de;
  }
}
