.logo {
  width: 360px;
}

.logo__hamburger {
  display: none;
}

.logo__header {
  margin: 0;
  padding-top: 45px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: #ffffff;
}

.logo__subheader {
  max-width: 381px;
  padding-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8;
}
