.logo {
  max-width: 47%;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
}

.logo__top {
  padding-left: 4px;
}

.logo__hamburger {
  display: none;
}

.logo h2 {
  margin: 0;
  padding-top: 29px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: #ffffff;
}

.logo__subheader {
  padding-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8;
}
