@media (max-width: 1023px) {
  .container {
    max-width: 100%;
  }

  .nav {
    position: fixed;
    z-index: 5;
    overflow-y: auto;
    min-height: 100%;
  }

  .nav__list {
    display: none;

    &--nojs {
      display: flex;
      justify-content: space-between;
    }

    &--adaptiv {
      display: block;
      position: absolute;
      flex-direction: column;
      top: 0;
      right: 0;
      width: 320px;
      padding: 70px 0;
      background-color: #ffffff;
    }
  }

  .nav__item {
    &--adaptiv {
      position: relative;
      padding: 16px;
      margin: 30px 0;
      background-color: #f6f6f6;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 14px;
        background: url("/img/arr.svg") center center/cover no-repeat;
      }
    }
  }

  .nav__link {
    &--adaptiv {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #48494d;
      opacity: inherit;
    }
  }

  .promo {
    background-image: none;
    background-color: #ffffff;
    padding-top: 0;
  }

  .promo__descr {
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
  }

  .logo {
    min-height: 340px;
    background: url("../img/bike@1x.jpg") center center/cover no-repeat;
    background-color: #131314;
  }

  .logo__header {
    padding-top: 84px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .logo__subheader {
    margin: 0 auto;
    padding-top: 20px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  .logo__img {
    padding-top: 90px;
    padding-left: 20px;
  }

  .logo__hamburger {
    &--adaptiv {
      display: block;
      z-index: 5;
      position: fixed;
      right: 0;
      top: 0;
      width: 26px;
      height: 12px;
      padding: 18px 13px;
      background-color: $main-color;
    }

    span {
      display: block;
      height: 1px;
      width: 100%;
      background-color: #000000;
      margin-bottom: 5px;
      transition: 0.5s all;
    }

    &--open {
      background-color: #ffffff;

      span {
        margin-bottom: -1px;
        background-color: rgba(20, 21, 23, 0.2);

        &:nth-child(1) {
          transform: rotate(-45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(45deg);
        }
      }
    }
  }

  .form {
    padding: 70px 0;
    margin: 0 auto;
  }

  .form__info {
    margin: 0 auto;
    font-size: 18px;
    color: #000000;
  }

  .form__main {
    padding-top: 28px;
    display: flex;
    align-items: center;

    input {
      width: 280px;
      height: 48px;
      padding: 0 20px;
    }
  }

  .form__btn {
    width: 321px;
    height: 51px;
  }

  .facts {
    padding: 0 106px 50px 106px;
  }

  .facts__header {
    font-size: 24px;
    line-height: 41px;
  }

  .facts__list {
    flex-wrap: wrap;
    padding-top: 10px;
  }

  .facts__item {
    max-width: 263px;
    padding: 21px 0;
  }

  .bicycles {
    padding: 50px;
  }

  .bicycles__item {
    flex-wrap: wrap;
    padding-bottom: 80px;

    &--one {
      padding-bottom: 20px;

      &::before {
        width: 127px;
        height: 127px;
        top: inherit;
        bottom: 60px;
        left: -35px;
      }
    }

    &--two {
      margin: 0;
      padding-bottom: 20px;

      &::before,
      &::after {
        display: none;
      }
    }

    &--three {
      &::after {
        width: 68px;
        height: 68px;
        top: -20px;
        right: -23px;
      }
    }
  }

  .bicycles__img {
    width: 250px;
    height: 345px;
    border-radius: 5%;

    &--two {
      top: 0;
    }
  }

  .bicycles__subheader {
    &--two {
      top: 0;
    }
  }

  .video {
    min-height: 413px;
  }

  .video__header {
    padding-top: 70px;
  }

  .video__player {
    width: 503px;
    height: 282px;
    left: 50%;
    transform: translateX(-50%);
  }

  .video__btn {
    top: 155px;
  }

  .footer {
    padding: 50px 35px;
    min-height: 0;
  }

  .footer__header {
    padding-top: 110px;
  }

  .footer__subheader {
    max-width: 100%;
  }

  .footer__map {
    width: 698px;
    height: 545px;
  }
}

@media (max-width: 767px) {
  .logo {
    min-height: 323px;
  }

  .logo__img {
    padding: 35px 0 0 0;
  }

  .logo__header {
    padding-top: 37px;
    font-size: 24px;
    line-height: 34px;
  }

  .logo__subheader {
    font-size: 16px;
    line-height: 25px;
    max-width: 435px;
    margin: 0 auto;
    padding: 20px 25px;
  }

  .form {
    padding: 52px 0;
  }

  .form__info {
    font-size: 15px;
  }

  .form__main {
    padding-top: 0;

    input {
      width: 198px;
      height: 37px;
      font-size: 12px;
    }
  }

  .form__btn {
    width: 250px;
    height: 44px;
    font-weight: 500;
    font-size: 13px;
  }

  .facts {
    padding: 35px 15px;
    padding-top: 0;
  }

  .facts__header {
    font-size: 20px;
  }

  .facts__list {
    justify-content: center;
    padding-bottom: 40px;
  }

  .facts__item {
    padding: 17px 0;
  }

  .facts__number {
    font-size: 22px;
    line-height: 23px;
  }

  .facts__descr {
    font-size: 16px;
    line-height: 27px;
  }

  .bicycles {
    padding: 60px 25px 20px;
  }

  .bicycles__header {
    font-size: 20px;
    font-weight: 600;
  }

  .bicycles__item {
    padding-top: 13px;
    padding-bottom: 0;

    &--one {
      padding: 20px 0;

      &::before {
        bottom: 40px;
        left: -27px;
        width: 119px;
        height: 119px;
      }
    }

    &--two {
      padding: 20px 0;
    }

    &--three {
      padding: 20px 0;
      top: inherit;

      &::after {
        top: 2px;
        right: -18px;
      }
    }
  }

  .bicycles__border {
    border-radius: 5%;
    overflow: hidden;
    height: 250px;
    max-width: 230px;
  }

  .bicycles__img {
    height: auto;
    width: 100%;
    margin: -50px 0 0 0;
  }

  .bicycles__subheader {
    padding-top: 14px;
    line-height: 29px;
  }

  .video {
    min-height: 320px;
  }

  .video__header {
    font-size: 24px;
  }

  .video__subheader {
    padding: 20px 16px;
  }

  .video__player {
    width: 249px;
    height: 128px;
  }

  .video__btn {
    top: 100px;
    padding: 17px;
  }

  .footer {
    padding: 35px 0;
  }

  .footer__header {
    padding-top: 60px;
    font-size: 15px;
  }

  .footer__subheader {
    margin: 25px 50px 20px;
    font-size: 14px;
    line-height: 23px;
  }

  .footer__map {
    width: 288px;
    height: 209px;
  }

  .footer__contacts {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 15px;
  }

  .footer__email {
    padding-right: 0;
  }

  .footer__phone {
    padding-top: 5px;
    margin: 0 auto;

    &::before {
      margin-top: 5px;
    }
  }
}
