@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin bicycles($position: relative, $margin:0 25px, $display: inline-block){
position: $position;
margin: $margin;
display: $display;
}
