.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 21px 20px 9px 20px;
}

.nav__item {
  list-style-type: none;
  padding: 0 10px;
}

.nav__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.7;

  &:hover {
    color: $main_color;
  }
}
