.promo {
  background: url("../img/bike@1x.jpg") top center/cover no-repeat;
  background-color: #131314;
  padding-top: 87px;
}

.promo__descr {
  display: flex;
  justify-content: space-between;
  min-height: 503px;
  padding-top: 232px;
}
