.promo {
  background: url("/img/Bike@1x.jpg") top center/contain no-repeat;
  background-color: #131314;
  padding-top: 62px;
}

.promo__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 619px;
}
