.promo {
  min-height: 825px;
  background: url("/img/Bike@1x.jpg") center center/cover no-repeat;
  padding-top: 62px;
}

.promo__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 825px;
}
