.video {
  min-height: 590px;
  background-color: #131314;
}

.video__header {
  margin: 0;
  padding-top: 101px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.video__subheader {
  padding-top: 16px;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

.video__img {
  position: relative;
}

.video__player {
  position: absolute;
  padding-top: 50px;
}

.video__btn {
  position: absolute;
  left: 50%;
  top: 237px;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 100%;
  background-color: $main_color;
  cursor: pointer;

  &:active {
    background-color: #00bfc6;
  }
}

.video__play {
  width: 16px;
  height: 16px;
}
