.video {
  min-height: 702px;
  background-color: #131314;
}

.video__header {
  margin: 0;
  padding-top: 123px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.video__subheader {
  padding-top: 18px;
  padding-left: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

.video__img {
  position: relative;
}

.video__player {
  position: absolute;
  padding-top: 50px;
}

.video__btn {
  position: absolute;
  left: 51%;
  top: 280px;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 100%;
  background-color: $main_color;
  border-color: #000000;
  cursor: pointer;

  &:active {
    background-color: #00bfc6;
  }
}

.video__play {
  width: 28px;
  height: 28px;
}
