html {
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 959px;
  margin: 0 auto;
}
nav {
  height: 62px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  position: absolute;
  .menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-top: 21px;
    &__item {
      list-style-type: none;
    }
    &__link {
      text-decoration: none;
      font-family: Open Sans;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      color: #FFFFFF;
      opacity: 0.7;
    }
  }
}
.promo {
  min-height: 825px;
  background: url("/img/Bike@1x.jpg") center center/cover no-repeat;
}
